* {
  box-sizing: border-box;
}
:root {
  --primary-bg-color: #232334;
  --secondary-bg-color: #393953;
  --primary-text-color: #fff;
  --secondary-text-color: #c8c7d8;
  --accent-color: #6966ff;
  --border-color: rgba(107, 105, 105, 0.281);
}

body {
  background-color: var(--primary-bg-color);
  font-family: "Cirkular Std", sans-serif;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 20px;
}

/**********TOP-SECTION************/

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  margin: 0 auto;
}

.menu-top-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin: 0px;
}

.image-logotype-dydx {
  height: 48px;
  width: 80px;
}

.menu-top {
  display: none;
  font-family: "Space Mono", sans-serif;
  color: var(--secondary-text-color);
  padding: 12px 1px;
}

.fa-bars {
  height: 16px;
  width: 16px;
  margin: 12px;
  display: flex;
}

/**********MID-SECTION************/

.mid-container {
  margin: 0 auto;
  max-width: 1440px;
  text-align: center;
  padding: 0 24px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
}

.header1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin:24px;
}

.wrapper{
display: flex;
flex-direction: column;
}

.hero-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  position: relative;
}

.link-wrapper {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin: 0px;
  width: 219px;
  overflow: hidden;
  padding-left: 20px;
  color: var(--secondary-text-color);
}

.menu-link {
  min-width: 182px;
}

.right-arrow{
  position: absolute;
  top:17;
  right:0;
}

.toggle-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1440px;
  color: var(--secondary-text-color);
}

.toggle {
  /*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch*/
  position: relative;
  display: inline-block;
  width: 34px;
  height: 14px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 13;
  left: -26;
  right: 20;
  bottom: -18;
  background-color: var--(--secondary-text-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: -7px;
  bottom: -4px;
  background-color: var(--primary-text-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--accent-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider-text {
  padding-left: 0px;
}

/**********CARD-GRID************/

.card-grid-section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 24px;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 24px;
  justify-content: center;
  .card {
    justify-content: flex-start;
    border: solid var(--border-color);
    background-color: var(--secondary-bg-color);
    height: 480px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 24px;
  width: 272px;
}

/**********APPLY************/

.apply-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border-radius: 16px;
  width: 272px;
  background: var(--accent-color);
  background: linear-gradient(
      169deg,
      rgba(105, 102, 255, 0.26376488095238093) 0%,
      rgba(105, 102, 255, 1) 68%
    );
  padding:40px 16px;
}

.apply-text{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
}

.apply-header{
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 40px;
}

.arrowb-rigth{
  padding-left:10px;

}

/**********BOTTOM-SECTION************/

.bottom-section {
  padding:40px 0;
}

.menu-bottom-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin: 0px auto;
  width: 272px;
}

.menu-bottom-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.image-logotype-dydx-small{
  width: 60px;
  height: 60px;
  margin-bottom: 32px;
}

.menu-bottom{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
  margin: 0px;
  color: var(--secondary-text-color);
  font-family: "Space Mono", sans-serif;
}

.social-media-wrapper{
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.social-media-symbol{
  width: 16px;
  height: 16px; 
}

.external-link-symbol{
  width: 12px;
  height: 12;
  margin-left: 8px;
}


/**********BUTTONS************/

.button {
  font-weight: 500;
  font-family: "Cirkular Std", sans-serif;
  line-height: 20px;
  font-size: 14px;
  border: 0px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;

  &._primary {
    color: var(--primary-text-color);
    background-color: var(--secondary-bg-color);
    padding: 10px 16px;
  }

  &._secondary {
    color: var(--accent-color);
    font-weight: 400;
    padding:10px 14px;
    width:240px;

  }

  &._accent {
    color: var(--primary-text-color);
    background-color: var(--accent-color);
    padding: 10px 14px;
  }
}

@media only screen and (min-width: 1022px) {
  .mid-container {
    padding: 0 108px;
  }

/**********TOP-SECTION************/

.top-container{
  max-width: 1440px;
  padding:24px 32px;
  margin: 0 auto;
}

  .menu-top {
    display: flex;
    flex-direction: row;
  }

  .fa-bars {
    display:none;
  }

  .image-logotype-dydx {
    height: 72px;
    width: 120px;
  }

  .menu-text{
    padding: 12px 16px;
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
  }

  .slider-text {
    padding-left: 30px;
    font-size: 16px;
  }

/**********MID-SECTION************/
.header1 {
  font-size: 60px;
  line-height: 72px;
  margin: 80px 0 40px 0;
}

.hero-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  position: relative;
}

.link-wrapper {
  width: auto;
  font-size: 16px;
  line-height: 24px;
  margin-left: 30px;
}

.right-arrow{
  display: none;
}

.slider {
  top: 13;
  left: -4;
}
.toggle{
  width: 56px;
  }
/**********CARD-GRID************/
.card-grid-section {
  padding: 80px 0px;
  grid-template-columns: auto auto auto;
    justify-content: center;
    .card{
      width: 392px;
    }
}

/**********APPLY************/
.apply-wrapper{
  width: auto;
}

.apply-text{
  font-size: 18px;
  font-weight: 450;
  margin-bottom: 8px;
}

.apply-header{
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 40px;
}

.arrowb-rigth{
  padding-left:10px;
}
/**********BOTTOM-SECTION************/

.bottom-section{
  padding: 40px 0;
}

.menu-bottom-container {
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  align-items: center;
}

.menu-bottom-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.image-logotype-dydx-small{
  margin-bottom: 0px;
}

  .menu-bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    padding-left: 24px;
  }

  .social-media-wrapper{
    align-items: center;
  }
  .social-media-symbol{
    width: 24px;
    height: 24px; 
  }
/**********BUTTONS************/
.button{
  font-size: 16px;
  line-height: 24px;
}

}
