* {
  box-sizing: border-box;
}

:root {
  --primary-bg-color: #232334;
  --secondary-bg-color: #393953;
  --primary-text-color: #fff;
  --secondary-text-color: #c8c7d8;
  --accent-color: #6966ff;
  --border-color: rgba(107, 105, 105, 0.281);
}

body {
  background-color: var(--primary-bg-color);
  font-family: "Cirkular Std", sans-serif;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 20px;
  background-image: url("images/topGrid.png");
  background-repeat: repeat-x;
  background-size: 60%;
}

a {
  color: var(--secondary-text-color);
  text-decoration: none;
}

/**********TOP-SECTION************/

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  margin: 0 auto;
}

.menu-top-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin: 0px;
}

.image-logotype-dydx {
  height: 48px;
  width: 80px;
}

.menu-top {
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 4;
}

.menu-text {
  display: none;
  flex-direction: column;
  list-style: none;
  position: absolute;
  top: 26px;
  right: 10px;
  padding: 60px 10px 20px;
  margin: 0px;
  font-family: "Space Mono", sans-serif;
  color: var(--secondary-text-color);
  background-color: var(--primary-bg-color);
  border: solid var(--secondary-text-color);
}

.menu-text.active {
  display: flex;
}

.menu-text li {
  padding: 2px 0;
}

.hamburger {
  display: block;
  cursor: pointer;
  background-color: var(--primary-bg-color);
  margin-left: 26px;
  border: none;
  color: var(--primary-text-color);
}

.fa-bars {
  font-size: 18px;
}

.fa-xmark {
  font-size: 22px;
  padding: 0;
}

.hamburger.active {
  display: none;
}

.close {
  display: none;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  border: none;
  font-size: 2em;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.close.active {
  display: block;
}

.slider-text {
  padding-left: 30px;
  font-size: 16px;
}

/**********MID-SECTION************/

.mid-container {
  margin: 0 auto;
  max-width: 1440px;
  text-align: center;
  padding: 0 24px;
}

.header1 {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 700;
  line-height: 40px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.hero-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}

.filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 1;
}

.highlight {
  font-weight: 600;
}

.filter-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(35, 35, 52, 0),
    rgb(35, 35, 52, 1)
  );
  z-index: 2;
}

.filter-container::after {
  content: "";
  position: absolute;
  top: 17px;
  right: 2px;
  background-image: url("images/rightarrow.svg");
  width: 20px;
  height: 20px;
  z-index: 3;
}

.filter-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px;
  margin: 0px;
  min-width: 219px;
  overflow-x: auto;
  color: var(--secondary-text-color);
  position: relative;
}

.filter-wrapper::-webkit-scrollbar {
  display: none;
}

.menu-filter {
  min-width: 193px;
  position: relative;
  z-index: 1;
}

.toggle-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1440px;
  color: var(--secondary-text-color);
  align-items: center;
}

.toggle-box {
  width: 34px;
  height: 14px;
  position: relative;
  display: block;
  background-color: var(--accent-color);
  border-radius: 1000px;
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

.circle {
  position: absolute;
  left: 15px;
  top: -3px;
  width: 20px;
  height: 20px;
  background-color: var(--primary-text-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

/**********CARD-GRID************/

.card-grid-section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 24px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  border: solid var(--border-color);
  background-color: var(--secondary-bg-color);
  height: 480px;
  padding: 24px;
  text-align: left;
  position: relative;
  width: 100%;
}

.sub-header {
  font-family: "Space Mono", sans-serif;
  color: var(--secondary-text-color);
}

.card-header {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

.card-text {
  font-weight: 450;
}

.avatar-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 8px;
  left: 26px;
}

.image-avatar-wrapper {
  width: 100%;
  height: 40px;
  margin: 0 -8px;
}

.image-avatar-wrapper-purple {
  width: 100%;
  height: 40px;
  margin: 0 -9px;
  position: relative;
}

.attendee-number {
  position: absolute;
  left: 76%;
  bottom: -4px;
}

/**********APPLY************/

.apply-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border-radius: 16px;
  background: linear-gradient(
    169deg,
    rgba(105, 102, 255, 0.26376488095238093) 0%,
    rgba(105, 102, 255, 1) 68%
  );
  padding: 40px 16px;
}

.apply-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
}

.apply-header {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 40px;
}

.arrowb-rigth {
  padding-left: 10px;
}

/**********BOTTOM-SECTION************/

.bottom-section {
  padding: 40px 0;
}

.menu-bottom-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin: 0px auto;
  min-width: 272px;
}

.menu-bottom-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.image-logotype-dydx-small {
  width: 60px;
  height: 60px;
  margin-bottom: 32px;
}

.menu-bottom {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
  margin: 0px;
  color: var(--secondary-text-color);
  font-family: "Space Mono", sans-serif;
}

.social-media-wrapper {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 12px 16px;
}

.social-media-symbol {
  width: 16px;
  height: 16px;
}

.external-link-symbol {
  width: 12px;
  height: 12;
  margin-left: 8px;
}

/**********BUTTONS************/

.button {
  font-weight: 500;
  font-family: "Cirkular Std", sans-serif;
  line-height: 20px;
  font-size: 14px;
  border: 0px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 44px;

  &._primary {
    color: var(--primary-text-color);
    background-color: var(--secondary-bg-color);
    padding: 10px 16px;
    margin-right: 23px;
  }

  &._primary.highlight {
    font-weight: 600;
  }

  &._secondary {
    color: var(--accent-color);
    font-weight: 400;
    padding: 10px 14px;
    max-width: 240px;
  }

  &._accent {
    color: var(--primary-text-color);
    background-color: var(--accent-color);
    padding: 10px 14px;
  }
}

/***********************************TABLET VERSION*********************************/

@media only screen and (min-width: 700px) {
  .card-grid-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

/***********************************WEB VERSION*********************************/

@media only screen and (min-width: 1250px) {
  .mid-container {
    padding: 0 108px;
  }

  /**********TOP-SECTION************/

  .top-container {
    max-width: 1440px;
    padding: 24px 32px;
    margin: 0 auto;
  }

  .menu-top {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .menu-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: static;
    height: auto;
    padding: 0 26px;
    border: none;
  }

  .menu-text li {
    padding: 5px 23px;
  }

  .hamburger,
  .close {
    display: none;
  }

  .image-logotype-dydx {
    height: 72px;
    width: 120px;
  }

  /**********MID-SECTION************/

  .header1 {
    line-height: 72px;
    margin: 80px 0 40px 0;
  }

  .hero-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 18px;
    position: relative;
  }

  .filter-wrapper {
    width: auto;
    gap: 24px;
    font-size: 16px;
    line-height: 24px;
  }

  .filter-container::after {
    display: none;
  }

  .filter-container::before {
    display: none;
  }

  .slider {
    top: 13;
    left: 2;
  }

  .completed {
    width: 56px;
  }

  /**********CARD-GRID************/

  .card-grid-section {
    padding: 80px 0px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: start;

    .card-header {
      font-size: 24px;
    }
  }

  /**********APPLY************/

  .apply-wrapper {
    width: auto;
  }

  .apply-text {
    font-size: 18px;
    font-weight: 450;
    margin-bottom: 8px;
  }

  .apply-header {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 40px;
  }

  .arrowb-right {
    padding-left: 10px;
  }

  /**********BOTTOM-SECTION************/

  .bottom-section {
    margin: 80px 0;
  }

  .menu-bottom-container {
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    align-items: center;
  }

  .menu-bottom-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  .image-logotype-dydx-small {
    margin-bottom: 0px;
  }

  .menu-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    padding-left: 24px;
  }

  .social-media-wrapper {
    align-items: center;
    padding: 0;
  }

  .social-media-symbol {
    width: 24px;
    height: 24px;
  }

  /**********BUTTONS************/

  .button {
    font-size: 16px;
    line-height: 24px;
  }
}
