* {
  box-sizing: border-box;
}

:root {
  /* --primary-bg-color: #232334; */
  --primary-bg-color: #191922;

  --secondary-bg-color: #393953;
  --primary-text-color: #fff;
  --secondary-text-color: #c8c7d8;
  --accent-color: #6966ff;
  --border-color: rgb(107 105 105 / 28.1%);
  --btn-hover-color: #434478;
  --btn-completed: #6bbf98;
  --form-color: #f1efef;
  --form-border-color: #cbcaca;
}

html {
  overflow-y: scroll; /* Always show scrollbar, even if not needed, to prevent layout shifting */
}

body {
  font: 400 14pt/20pt "Cirkular Std", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  background-image: linear-gradient(rgb(255 255 255 / 10%) 1px, transparent 1px),
    linear-gradient(90deg, rgb(255 255 255 / 10%) 1px, transparent 1px);
  background-size: 23px 23px;
  margin: 0;
  position: relative;
  z-index: 0;
  height: 100%;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  background: linear-gradient(
    to bottom,
    rgba(25, 25, 34, 0.1) 0%,
    rgba(25, 25, 34, 0.7) 10%,
    rgba(25, 25, 34, 1) 50%,
    rgba(25, 25, 34, 0.7) 90%,
    rgba(25, 25, 34, 0.1) 100%
  );
}

.page-wrapper {
  position: relative;
  z-index: 2;
}
